---
layout: default
---

<div class="home">

    {{ content }}

    <div class="d-block d-md-none pb-5">
        <nav class="p-0 navbar fixed-top bg-custom navbar-dark navbar-expand-lg navigation">
            <a class="py-2 px-3 text-decoration-none w-100 ml-auto" data-toggle="collapse" href="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                >>>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex">
                    <ul class="navbar-nav list-inline mx-auto justify-content-center">
                        <li class="pb-1 nav-item glow-image">
                            <a class="text-decoration-none" href="{{ site.url }}">
                                > home
                            </a>
                        </li>
                        <li class="py-1 pb-4 nav-item glow-image">
                            <a class="text-decoration-none" href="https://en.wikipedia.org/wiki/Special:Random">
                                > somewhere else
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row justify-content-center py-5 px-4">
        <div class="col col-lg-10 col-md-12 col-sm-12 col-12">

            <!-- title and subtitle -->
            <div class="row justify-content-center no-gutters">
                <div class="col col-12">
                    <!-- Display for mobile -->
                    <div class="d-md-none">
                        <h4 class="glow-title">
                            <div class="d-md-none"></div>
                            <a class="text-decoration-none" href="{{ site.url }}">
                                {{ page.main-title }}
                            </a>
                        </h4>
                        <div>
                            <p class="glow-subtitle">
                                {{ page.sub-title | escape }}
                            </p>
                        </div>
                    </div>
                    <!-- Display on larger devices -->
                    <div class="d-none d-md-block">
                        <h4 class="glow-title">
                            <a class="text-decoration-none right-title" href="{{ site.url }}">
                                {{ page.main-title }}
                            </a>
                        </h4>
                        <div>
                            <p class="glow-subtitle right-title sub-title">
                                {{ page.sub-title | escape }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
            <div class="col col-12 pt-3">
                <div class="code-box">
                <div class="d-md-none">
                    <p class="post-mobile-dull">
                    <img class="title-img" id="title-img-mobile" src="assets/img/tv_person.svg">
                    </p>
                </div>
                <div class="d-none d-md-block">
                    <p class="right-post">
                    <img class="title-img" id="title-img" src="assets/img/tv_person.svg">
                    </p>
                </div>
                </div>
            </div>
            </div>

            <!-- General job update -->
            <div class="row no-gutters">
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-alert">
                                I am on the academic (and select industry) job market for 2025–2026! My work is in the mathematical theory of quantum algorithms; feel free to peruse my <a href="href="assets/pdf/rossi_zane_cv.pdf"" class="emphasis">[curriculum vitae&nbsp;↗]</a>!
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post-alert">
                                Update・速報
                            </p>
                            <p class="right-post-alert">
                                I am on the academic (and select industry) job market for 2025–2026! My work is in the mathematical theory of quantum algorithms; feel free to peruse my <a href="assets/pdf/rossi_zane_cv.pdf" class="emphasis">[curriculum vitae&nbsp;↗]</a>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Theme advisory -->
            <div class="row no-gutters">
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-tip">
                            For those who prefer, you can
                            <label class="toggle-wrapper" for="checkbox">
                            <span class="toggle-span emphasis">
                            [toggle light/dark mode here&nbsp;↗]
                            </span>
                            <input class="toggle-checkbox" type="checkbox" id="checkbox" />
                            </label>.
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post-tip">
                                Site theme
                            </p>
                            <p class="right-post-tip">
                            For those who prefer, you can
                            <label class="toggle-wrapper" for="checkbox">
                            <span class="toggle-span emphasis">
                            [toggle light/dark mode here&nbsp;↗]
                            </span>
                            <input class="toggle-checkbox" type="checkbox" id="checkbox" />
                            </label>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- overview and summary -->
            <div class="row no-gutters">
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-dull">
                                I study the theory of quantum algorithms at the University of Tokyo; until recently I was at MIT completing my doctorate, advised by <a href="https://scholar.google.com/citations?user=QKyb_9oAAAAJ&hl=en" class="emphasis">Ike&nbsp;Chuang&nbsp;↗</a>. My work draws on techniques from <span class="emphasis">representation theory</span>, <span class="emphasis">functional analysis</span>, and <span class="emphasis">algebraic geometry</span> to construct <span class="emphasis">interpretable quantum algorithms</span> for common problems in numerical linear algebra.
                                <br><br>
                                Quantum computing lacks diverse algorithmic techniques, and those that exist are fragile & specific. My takeaway from this is the virtue of <span class="emphasis">translating</span> sophisticated techniques from well-established mathematical subfields to the lexicon of quantum computation.
                                <br><br>
                                Not only does this pad-out the quantum algorithmist's toolkit but, if done generously, it can also <span class="emphasis">recruit the interest and collaboration of previously disparate mathematical and TCS communities</span>.
                                <br><br>
                                The subfield of quantum algorithms is wonderful a chimera of physicists, mathematicians, and computer scientists. I prize this heterogeneity: its insistence that I learn <span class="emphasis">multiple ways of saying similar things</span>.
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post">
                                About me
                            </p>
                            <p class="right-post-dull">
                                I study the theory of quantum algorithms at the University of Tokyo; until recently I was at MIT completing my doctorate, advised by <a href="https://scholar.google.com/citations?user=QKyb_9oAAAAJ&hl=en" class="emphasis">Ike&nbsp;Chuang&nbsp;↗</a>. My work draws on techniques from <span class="emphasis">algebraic geometry</span>, <span class="emphasis">functional analysis</span>, and <span class="emphasis">category theory</span> to construct <span class="emphasis">interpretable quantum algorithms</span> for common problems in numerical linear algebra.
                                <br><br>
                                Quantum computing lacks diverse algorithmic techniques, and those that exist are fragile & specific. My takeaway from this is the virtue of <span class="emphasis">translating</span> sophisticated techniques from well-established mathematical subfields to the lexicon of quantum computation.
                                <br><br>
                                Not only does this pad-out the quantum algorithmist's toolkit but, if done generously, it can also <span class="emphasis">recruit the interest and collaboration of previously disparate mathematical and TCS communities</span>.
                                <br><br>
                                The subfield of quantum algorithms is wonderful a chimera of physicists, mathematicians, and computer scientists. I prize this heterogeneity: its insistence that I learn <span class="emphasis">multiple ways of saying similar things</span>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LLM advisory -->
            <div class="row no-gutters">
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-tip">
                            As of your reading this no research, application, or post you've seen from me has been written with the assistance of a large language model. I hold no ire for their use in principle, but I appreciate disclosure.
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post-tip">
                                On LLM use
                            </p>
                            <p class="right-post-tip">
                            As of your reading this no research, application, or post you've seen from me has been written with the assistance of a large language model. I hold no ire for their use in principle, but I appreciate disclosure.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Numerical package update -->
            <div class="row no-gutters">
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-tip">
                                I recently overhauled our Python-based numerical package, <a href="https://github.com/ichuang/pyqsp" class="emphasis">pyQSP&nbsp;↗</a>, used to handle all-things quantum signal processing (QSP) related, to be more numerically stable and user-friendly. Check out the revamped documentation and expanded features in <a href="https://github.com/ichuang/pyqsp" class="emphasis">v0.2.0</a>!
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post-tip">
                                Check it out!
                            </p>
                            <p class="right-post-tip">
                                I recently overhauled our Python-based numerical package, <a href="https://github.com/ichuang/pyqsp" class="emphasis">pyQSP&nbsp;↗</a>, used to handle all-things quantum signal processing (QSP) related, to be more numerically stable and user-friendly. Check out the revamped documentation and expanded features in <a href="https://github.com/ichuang/pyqsp" class="emphasis">v0.2.0</a>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Announcements -->
            <div class="row no-gutters">
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-alert">
                                I started as a JSPS Postdoctoral Fellow at the University of Tokyo with Professor Mio Murao's (村尾・美緒) group from August of 2024. If you are a researcher in Japan, or are interested in quantum/TCS research in Japan, drop me a line!
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post-alert">
                                Update・速報
                            </p>
                            <p class="right-post-alert">
                                I started as a JSPS Postdoctoral Fellow at the University of Tokyo with Professor Mio Murao's (村尾・美緒) group from August of 2024. If you are a researcher in Japan, or are interested in quantum/TCS research in Japan, drop me a line!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- interests, directions, contact -->
            <div class="row no-gutters">
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-dull">
                                For my academic email, try <span class="emphasis">zmr</span> followed by <span class="emphasis">@g.ecc.u-tokyo.ac.jp</span>. For recent publications, check out my <a href="https://scholar.google.com/citations?user=W8_-cSoAAAAJ&hl=en" class="emphasis">google scholar page</a> or my <a href="assets/pdf/rossi_zane_cv.pdf" class="emphasis">curriculum vitae&nbsp;↗</a>.
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post">
                                Contact
                            </p>
                            <p class="right-post-dull">
                                For my academic email, try <span class="emphasis">zmr</span> followed by <span class="emphasis">@g.ecc.u-tokyo.ac.jp</span>. For recent publications, check out my <a href="https://scholar.google.com/citations?user=W8_-cSoAAAAJ&hl=en" class="emphasis">google scholar page</a> or my <a href="assets/pdf/rossi_zane_cv.pdf" class="emphasis">curriculum vitae&nbsp;↗</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- covering only the highlighted papers -->
            {% for tag in site.tags %}
            {% if tag[0] == "highlight" %}
                {%- if tag[1].size > 0 -%}
                    <!-- select pubs -->
                    <div class="row no-gutters">
                        <div class="col col-12 pt-5">
                            <!-- Display for mobile -->
                            <div class="d-md-none">
                                <div>
                                    <h4 class="glow-subtitle">
                                        highlighted publications
                                    </h4>
                                </div>
                            </div>
                            <!-- Display on larger devices -->
                            <div class="d-none d-md-block">
                                <div>
                                    <h4 class="glow-subtitle right-title">
                                        highlighted publications
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                    {% for post in tag[1] %}
                    {%- assign date_format = "%b, %Y" -%}
                    {%- assign w = post.date | date: "%w" -%}
                    <div class="col col-12 pt-3">
                            <div class="code-box">
                                <!-- Display for mobile -->
                                <div class="d-md-none">
                                    <p class="post-mobile">
                                        <span class="post-title">
                                            <a href="{{ post.pdflink }}">
                                                §{{ post.ordinal | escape }}. {{ post.title | escape }} >>
                                            </a>
                                        </span><br>
                                        <a class="excerpt-link" href="{{ post.pdflink }}">
                                            {{ post.preview }}
                                        </a><br>
                                        {% if post.abslink %}
                                        <a href="{{ post.abslink }}" class="emphasis-abs">
                                            [DOI]
                                        </a>
                                        {% endif %}
                                        <a href="{{ post.pdflink }}" class="emphasis-pdf">
                                            [PDF]
                                        </a>
                                    </p>
                                </div>
                                <!-- Display on larger devices -->
                                <div class="d-none d-md-block">
                                    <p class="left-post">
                                        {{ post.location | escape }}<br>
                                        {{ post.date | date: date_format }}
                                    </p>
                                    <p class="right-post">
                                        <span class="post-title">
                                            <a href="{{ post.pdflink }}">
                                                §{{ post.ordinal | escape }}. {{ post.title | escape }} >>
                                            </a>
                                        </span><br>
                                        <a class="excerpt-link" href="{{ post.pdflink }}">
                                            {{ post.preview }}
                                        </a><br>
                                        {% if post.abslink %}
                                        <a href="{{ post.abslink }}" class="emphasis-abs">
                                            [DOI]
                                        </a>
                                        {% endif %}
                                        <a href="{{ post.pdflink }}" class="emphasis-pdf">
                                            [PDF]
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            {% endfor %}

            <!-- misc notes -->
            <div class="row no-gutters">
                <div class="col col-12 pt-5">
                    <!-- Display for mobile -->
                    <div class="d-md-none">
                        <div>
                            <h4 class="glow-subtitle">
                                notes and errata
                            </h4>
                        </div>
                    </div>
                    <!-- Display on larger devices -->
                    <div class="d-none d-md-block">
                        <div>
                            <h4 class="glow-subtitle right-title">
                                notes and errata
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- overview and summary -->
            <div class="row no-gutters">
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-dull">
                                I was lucky to be able to intern at NTT Research Inc. in California, as well as visit and work at NTT BRL in Atsugi, Japan for a semester in 2022. 今から日本での研究グループの関係を作るのが続けたいので、僕の研究に興味が持てば気軽にメールして下さい。日本語でも大丈夫です。
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post">
                                More about me
                            </p>
                            <p class="right-post-dull">
                                I was lucky to be able to intern at NTT Research Inc. in California, as well as visit and work at NTT BRL in Atsugi, Japan for a semester in 2022. 今から日本での研究グループの関係を作るのが続けたいので、僕の研究に興味が持てば気軽にメールして下さい。日本語でも大丈夫です。
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- all pubs -->
            <div class="row no-gutters">
                <div class="col col-12 pt-5">
                    <!-- Display for mobile -->
                    <div class="d-md-none">
                        <div>
                            <h4 class="glow-subtitle">
                                all publications
                            </h4>
                        </div>
                    </div>
                    <!-- Display on larger devices -->
                    <div class="d-none d-md-block">
                        <div>
                            <h4 class="glow-subtitle right-title">
                                all publications
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            {% assign posts = site.posts %}

            <!-- main messages -->
            <div class="row no-gutters">
                <!-- Beginning of posts -->
                {%- if posts.size > 0 -%}
                    {%- for post in posts -%}
                        {%- assign date_format = "%b, %Y" -%}
                        {%- assign w = post.date | date: "%w" -%}
                        <div class="col col-12 pt-3">
                            <div class="code-box">
                                <!-- Display for mobile -->
                                <div class="d-md-none">
                                    <p class="post-mobile">
                                        <span class="post-title">
                                            <a href="{{ post.pdflink }}">
                                                §{{ post.ordinal | escape }}. {{ post.title | escape }} >>
                                            </a>
                                        </span><br>
                                        <a class="excerpt-link" href="{{ post.pdflink }}">
                                            {{ post.preview }}
                                        </a><br>
                                        {% if post.abslink %}
                                        <a href="{{ post.abslink }}" class="emphasis-abs">
                                            [DOI]
                                        </a>
                                        {% endif %}
                                        <a href="{{ post.pdflink }}" class="emphasis-pdf">
                                            [PDF]
                                        </a>
                                    </p>
                                </div>
                                <!-- Display on larger devices -->
                                <div class="d-none d-md-block">
                                    <p class="left-post">
                                        {{ post.location | escape }}<br>
                                        {{ post.date | date: date_format }}
                                    </p>
                                    <p class="right-post">
                                        <span class="post-title">
                                            <a href="{{ post.pdflink }}">
                                                §{{ post.ordinal | escape }}. {{ post.title | escape }} >>
                                            </a>
                                        </span><br>
                                        <a class="excerpt-link" href="{{ post.pdflink }}">
                                            {{ post.preview }}
                                        </a><br>
                                        {% if post.abslink %}
                                        <a href="{{ post.abslink }}" class="emphasis-abs">
                                            [DOI]
                                        </a>
                                        {% endif %}
                                        <a href="{{ post.pdflink }}" class="emphasis-pdf">
                                            [PDF]
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                {%- endif -%}
                <!-- End of posts. -->
                <div class="col col-12 pt-3">
                    <div class="code-box">
                        <!-- Display for mobile -->
                        <div class="d-md-none">
                            <p class="post-mobile-dull">
                                {{ page.end-content }}
                            </p>
                        </div>
                        <!-- Display on larger devices -->
                        <div class="d-none d-md-block">
                            <p class="left-post">

                            </p>
                            <p class="right-post-dull">
                                {{ page.end-content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
